<section class="blog-list mtb-40">
    <div class="container">
        <h1>Articles List</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <div class="blog-box">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/images/img1.jpg" alt="blog1">
                            </div>
                            <div class="col-md-8">
                                <h3>Child Internet Safety</h3>
                                <p>by <span>Mariyaa</span></p>
                                <p>KEEPING CHILDREN SAFE ON THE INTERNET It should come as a surprise to no one 
                                    that the Internet can be a dangerous place...</p>
                                <a href="/articles/1" class="readmore">Read more...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="blog-box">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/images/img2.png" alt="blog2">
                            </div>
                            <div class="col-md-8">
                                <h3>Mental Health Tips: Back to School</h3>
                                <p>by <span>Zoellesouldogs</span></p>
                                <p>“Wisdom is not a product of schooling but of the lifelong attempt to acquire 
                                    it.” ― Albert Einstein In-Person Classes Good morning and happy first day of 
                                    classes! Getting back into a school..</p>
                                <a href="/articles/2" class="readmore">Read more...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="blog-box">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/images/img3.jpg" alt="blog3">
                            </div>
                            <div class="col-md-8">
                                <h3>Success Stories Within The IDD Community</h3>
                                <p>by <span> Mdhunna</span></p>
                                <p>Josh Blue is an American comedian. He lives with cerebral palsy, but instead 
                                    of letting that hinder him, he uses his disability as fuel for his comedy 
                                    work...</p>
                                <a href="/articles/3" class="readmore">Read more...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="blog-box">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/images/img4.jpg" alt="blog4">
                            </div>
                            <div class="col-md-8">
                                <h3>Dog Tips: Simple Ways to Teach Your Dog How to Lie Down</h3>
                                <p>by <span>Ashleymariekeller</span></p>
                                <p>The “lie down” or “down” command may be one of the more important commands 
                                    to teach your dog and is essential for their safety and your peace of 
                                    mind...</p>
                                <a href="/articles/4" class="readmore">Read more...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="blog-box">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/images/img5.jpg" alt="blog5">
                            </div>
                            <div class="col-md-8">
                                <h3>Dog Tips: Introductory Dog Training</h3>
                                <p>by <span>Ashleymariekeller</span></p>
                                <p>The idea of training your dog, especially if it’s your first dog, can feel 
                                    extremely daunting at first. If you take it one step at a time,...</p>
                                <a href="/articles/5" class="readmore">Read more...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="blog-box">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/images/img6.jpg" alt="blog6">
                            </div>
                            <div class="col-md-8">
                                <h3>Building Emotional Intelligence and Its Benefits</h3>
                                <p>by <span>Sami</span></p>
                                <p>Emotional intelligence is an important skill to have inside and outside the 
                                    workplace. It not only helps you communicate but allows you to relate with 
                                    those around you...</p>
                                <a href="/articles/6" class="readmore">Read more...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <app-featured-articles></app-featured-articles>
                <app-categories></app-categories>

            </div>

        </div>
    </div>
</section>