<div class="widget right-widget recent-post">
    <h4 class="widget-title">Featured Posts</h4>
    <a href="/article/1">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img1.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Child Internet Safety</h5>
                <p>by <span>Mariyaa</span></p> 
                <p>Posted On: November 10, 2021</p>
            </div>
        </div>
    </a>
    <a href="/article/2">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img2.png" alt="blog2">
            </div>
            <div class="rb-box-desc">
                <h5>Mental Health Tips: Back to School</h5>
                <p>by <span>Zoellesouldogs</span></p>
                <p>Posted On: November 10, 2021</p>
            </div>
        </div>
    </a>
    <a href="/article/3">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img3.jpg" alt="blog3">
            </div>
            <div class="rb-box-desc">
                <h5>Success Stories Within The IDD Community</h5>
                <p>by <span>Mdhunna</span></p>
                <p>Posted On: November 10, 2021</p>
            </div>
        </div>
    </a>
    <a href="/article/4">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img4.jpg" alt="blog4">
            </div>
            <div class="rb-box-desc">
                <h5>Dog Tips: Simple Ways to Teach Your Dog How to Lie Down</h5>
                <p>by <span>Ashleymariekeller</span></p>
                <p>Posted On: November 10, 2021</p>
            </div>
        </div>
    </a>
    <a href="/article/5">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img6.jpg" alt="blog5">
            </div>
            <div class="rb-box-desc">
                <h5>Building Emotional Intelligence and Its Benefits</h5>
                <p>by <span>Sami</span></p>
                <p>Posted On: November 10, 2021</p>
            </div>
        </div>
    </a>
</div>