<section class="blog-detail mtb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-left">
                    <h1>Child Internet Safety</h1>
                    <div class="posted-on">
                        <p>by <span>Mariyaa</span> on <span>November 10, 2021</span></p>
                    </div>
                    <div class="detail-img">
                        <img src="assets/images/img1.jpg" alt="blog1">
                    </div>
                    <div class="blog-desc">
                        <h3>KEEPING CHILDREN SAFE ON THE INTERNET</h3>
                        <p>It should come as a surprise to no one that the Internet can be a dangerous place. Sure, 
                            the Internet allows you to access information at your leisure and connect with people in 
                            faraway places easily; however, you never know who may try to access you for harm. These 
                            dangers are magnified when children utilize the Internet, as they often are not aware of 
                            warning signs of danger. Children can easily stumble upon fake news, pornographic content, 
                            scams, and seedy individuals, even when their voyage into the cyber world began with an 
                            innocent search. Nowadays, the Internet is easily accessible to people of all ages, especially 
                            as smartphones and tablets continue to increase in popularity.
                        </p>

                        <h3>HOW TO PROMOTE CHILD INTERNET SAFETY</h3>
                        <p> The Children’s Online Privacy Protection Act (COPPA) is a federal law designed to protect 
                            those under 13 years of age on the Internet. Websites must follow specific rules and privacy 
                            policies. While the government wants to protect children, parents can take steps at home as 
                            well. Before allowing your child to access the Internet, here are some things to keep in mind.
                        </p>
                        <ul>
                            <li>Highlight a recently released product</li>
                            <li>Advertise a special or promotion</li>
                            <li>Weather delay or holiday hours</li>
                            <li>Promote upcoming new products</li>
                            <li>Offer a free giveaway or download</li>
                            <li>Share news about a recent award or certification</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <app-featured-articles></app-featured-articles>
                <app-categories></app-categories>
            </div>
        </div>
    </div>
</section>